@charset "ISO-8859-1";
.error {
	color : red;
}
.success {
	color : green;	
}
.masterHeader
{
	display: flex;
	align-items: center;
	background-color: lightgray;
	text-align: center;
	width: 100%;
	padding: 1%;

}
.login {
	width: 330px;
	text-align: center;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.titleHeader{
	float: left;
	margin: auto;
}
.loginHeader {
}